
body{
    background:#f3f3f3;
}

li
{
    float:left;
    border-right:1px solid #bbb;

}


li:link,li:visited
{
    display:block;
    width:100%;
    font-weight:bold;
    color: rgba(23, 162, 184, 0.45);
    background-color:#ffffff;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}

li:hover,li:active
{
    background-color: rgba(125, 214, 255, 0.35);
}
.main{
    background: #fff;
    width: 730px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    border-right:1px solid #bbb;
}


.navbar-collapse
{
    list-style-type:none;

    background: #fff;
    width: 100%;

    font-weight:bold;
    color:#17a2b8;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;

}

.page-title{
    text-align: center;
}

.logo{
    width: 20px;
}


