<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/firstpage.css') }}">
</head>

<body>
<div class="container-fluid">
    <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">

        <div class="one-forth ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4"> 热门电影推荐系统
                <strong class="typewrite" data-period="4000"
                        data-type='[ "Digital Agency", "Portfolio", "SEO Agency", "Business" ]'>
                    <span class="wrap"></span>
                </strong>
            </h1>
            <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                一个外网第一手电影资讯的热门电影平台</p>
            <p class="mb-md-5 mb-sm-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Mua Ma
                PRESENT</p>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="/" class="btn">Start Here!</a>
            </p>
        </div>
        <img src="../static/images/first.png" border="0">


    </div>
</div>


</body>
</html>