{% extends 'base.html' %}
{% block title %}详情-{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detail.css') }}">
{% endblock %}
{% block main %}
    {% if trailer %}
        <h3 class="page-title">{{ trailer.title }}</h3>
        <p align="left" class="movie-info">
        </p>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('movie_info.detail', movie_id=movie.id) }}">预告片资讯</a></li>
                <li><a href="{{ url_for('movie_info.movie_detail', movie_id=movie.id) }}">影片介绍</a></li>
                <li><a href="{{ url_for('movie_info.movie_income', movie_id=movie.id) }}">票房评分</a></li>
                <li><a href="{{ url_for('movie_info.movie_AI', movie_id=movie.id) }}">智能分析</a></li>
                <li><a href="{{ url_for('movie_info.movie_other', movie_id=movie.id) }}">其他信息</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('movie.search') }}" method="post">
                <button type="submit" class="btn btn-default"><a href={{movie.Movie_Title_link}}>观看正片</a></button>
            </form>
          </div>

        <p class="movie-info">票房评分</p>
        <br>
        <p class="movie-content">imdb评分：{{ movie.Movie_star_rating }}</p>
        <p class="movie-content">总预算：{{ movie.Movie_Budget }}</p>
        <p class="movie-content">美国票房：{{ movie.Movie_Gross_USA }}</p>
        <p class="movie-content">世界票房：{{ movie.Movie_Cumulative_Worldwide_Gross }}</p>
        <br>


    {% else %}
        <h3 class="attention-info"> 电影走丢了！！ 404</h3>
    {% endif %}

{% endblock %}